# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
dev.db
migrations

data/temp/
public/push.mp3
public/ring.mp3
public/voice.mp3
public/opened.mp3